services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: medic
      POSTGRES_PASSWORD: medicpassword
      POSTGRES_DB: medic_turnos
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
